@model IEnumerable<tp_escolas.Models.Avaliacao>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Space4Children</h1>
    <p class="lead">A melhor ferramenta para quem procura a escola ideal para os seus filhos </p>
    <p>@Html.ActionLink("Sabe mais", "ListaInstituicoes", "Instituicao", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
         <h2>@Html.DisplayFor(modelItem => item.Instituicoes.Nome)</h2>
            <p>
                @Html.DisplayFor(modelItem => item.Descricao)
                <br />
                -@Html.DisplayFor(modeItem => item.Pais.Nome)
            </p> 
        </div>
    }

    
     
</div>