@model IEnumerable<tp_escolas.Models.Instituicao>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lista Instituicoes</h2>
<div>

   Escolha uma Cidade: @Html.DropDownList("Cidade", (SelectList)ViewBag.Cidades , "Todas As cidades", new { id = "Mydrop" })



</div>
<div id="divPartialView">

    @Html.Partial("_ListaInstPartial", Model)
</div>
<script>
    $(document).ready(function () {

        $("#Mydrop").change(function (event) {
     $.ajax({
         data: { id : $(this).val()  },
        cache: false,
        type: "POST",
        dataType: "html",
        success: function (data, textStatus, XMLHttpRequest) {
            SetData(data);
        }
    });
        });
        function SetData(data) {
            $("#divPartialView").html(data); // HTML DOM replace
        }
});
</script>

