@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", @style = "position: absolute;right: 2em; " }))
                {
                    @Html.AntiForgeryToken()

                    <div class=" navbar-right">
         
            @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",
           @style = "color:white;" })
         <a  class = "btn btn-secondary" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>
    }
}
else
{
    <div class="navbar-right" style=" position: absolute; right: 2em;">
         @Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-warning" }) 
         @Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "btn btn-warning" }) 
    </div>
}
