@model tp_escolas.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

 <div>

     @Html.ActionLink("Registar Como instituicao", "Registar", "Instituicao", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-warning" })
     @Html.ActionLink("Registar Como Pai", "Registar", "Pais", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-warning" })


 </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
